<html>
    <head>
        <Title>Apache HTTPD Server</title>
    </head>
    <body>
        <h1> This server is Up With Vagrant!!!
        <h2> This server is configured with Ansible!!!
    </body>
</html>
